<div class="workout-preview">
	<h2>Workout Preview</h2>
	<span class="preview"><strong>Name: {{myForm.workoutName}}</strong></span>
   	<ul ng-repeat="workout in newWorkoutCtrl.preview" class="chosen-workout-details">
  	  <li><strong>Exercise:</strong> {{workout.exercise}}</li>
  	  <li><strong>Reps:</strong> {{workout.reps}}</li>
  	  <li><strong>Weight:</strong> {{workout.weight}}</li>
  	  <li><strong>Help</strong><a class="help" ng-href="{{workout.help}}"> link</a></li>
  	  <span class="remove" ng-click="newWorkoutCtrl.removeExercise(workout)">Remove this</span>
    </ul>
    <span class="block preview"><strong>Sets:</strong> {{myForm.rounds}}</span>
  	<span class="block preview"><strong>Difficulty:</strong> {{myForm.difficulty}}</span>
  	<span class="block preview"><strong>Approx. Length (minutes):</strong> {{myForm.exLength}}</span>
</div>

<form class="form" name="myForm" novalidate>
	<label class="block" for="workoutName">Name
	<input type="text" name="workoutName" ng-model="myForm.workoutName" ng-minlength="3" required></label>
	<label class="block" for="rounds">Total sets
	<select ng-model="myForm.rounds" ng-options="number as number for number in newWorkoutCtrl.scale" name="rounds" required>
	</select></label>
	<label class="block" for="difficulty">Difficulty
	<select ng-model="myForm.difficulty" ng-options="number as number for number in newWorkoutCtrl.scale" name="difficulty" id="" required>
	</select></label>
	<label class="block" for="exLength">Approx. length (minutes)
	<select ng-model="myForm.exLength" ng-options="number as number for number in newWorkoutCtrl.minutes" name="exLength" id="" required>
	</select></label>
	<button ng-click="newWorkoutCtrl.addFields()">{{newWorkoutCtrl.showFields ? "Clean fields below" : "Add exercise"}}</button>	
	<!-- NEW FIELDS -->
	<ng-form name="subForm" ng-repeat="myForm in newWorkoutCtrl.newFields" ng-class="newWorkoutCtrl.state">
		<label class="block" for="exercise">Exercise
		<input class="form-input" type="text" name="exercise" ng-model="myForm.exercise" ng-minlength="3" required></label>
		<label class="block" for="reps">Reps
		<input class="form-input" type="text" name="reps" ng-model="myForm.reps" ng-minlength="1"required></label>
		<label class="block" for="weight">Weight
		<input class="form-input" type="text" name="weigth" ng-model="myForm.weight" ng-minlength="1" required></label>
		<label class="block" for="help">Help link
		<input class="form-input" type="url" name="help" ng-model="myForm.help" ></label>
		<button ng-click="newWorkoutCtrl.addSingleExercise()">Add exercise to Workout</button>
	</ng-form>
	<input type="submit" class="submit" value="Done" ng-click="newWorkoutCtrl.addWorkout(myForm.$valid)">
</form>