<ul title="My Workouts">
<li class="item" ng-repeat="workout in selectedWorkouts">
  <p><strong>{{workout.name}}</strong></p>
  <ul ng-repeat="exercise in workout.exercises track by $id(exercise)">
	  <li>{{exercise}}</li>
	  <li ng-model="workout.exercises[$index]">{{workout.reps[$index]}}</li>
	  <li ng-model="workout.exercises[$index]">Weigth: {{workout.weight[$index]}}</li>
	  <li ng-model="workout.exercises[$index]">Demonstration<a ng-href="{{workout.help[$index]}}" target="_blank"> here</a></li>
  </ul>
  <p>Rounds: {{workout.rounds}}</p>
  <p>Difficulty: {{workout.difficulty}}</p>
  <p>Approx. length: {{workout.length}}</p>
  <a class="remove" ng-click="removeItem(workout)">Remove</a>
</li>
</ul>