<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Workout Choices</title>
        <link rel="stylesheet" href="styles/main.css">
    </head>
	<body ng-app="workoutApp">
	<h1>App name here :)</h1>
	<section id="instructions">
		<h2>Instructions</h2>
		<p>In this app you can choose a workout from the list below or you can add your own customized workout to the list and then choose it.</p>
		<h4>When adding an exercise:</h4>
		<p>Difficulty should be chosen from 1 to 10 (1: easiest and 10: hardest)</p>		
	</section>
	<div id="options" ng-controller="SelectListController as workout">
		<h2>Select workouts below</h2>
		<select id="select" class="selectbox" title="options" ng-model="optionSelected" ng-options="workout.name for workout in workOutList| orderBy: name" >
		<option id="default-option" value="" ng-disabled="true">Choose one</option></select>
		<input class="submit" type="submit" value="Add" ng-click="addWorkout(selectedWorkout)"/>
	<span class="add-workout">Didn't find a good workout?
		<button ng-class="{'cancel' : newWorkoutCtrl.showForm != false}" ng-click="newWorkoutCtrl.showForm = !newWorkoutCtrl.showForm">{{newWorkoutCtrl.showForm ? "Cancel" : "Add new"}}</button>
	</span>
	</div>

	<new-workout ng-show="newWorkoutCtrl.showForm"></new-workout> 

	<div id="workoutList" ng-controller="SelectedListController as selectedListCtrl">
	<h2>Your workouts</h2>
	<div class="sort" >
	  <span>Sort by</span>
	  <button ng-click="predicate = 'difficulty'; reverse=false; selectedListCtrl.selectTab(1)" ng-class="{ 'selected' : selectedListCtrl.isSelected(1)}">Difficulty</button>
	  <button ng-click="predicate = 'length'; reverse=false; selectedListCtrl.selectTab(2)" ng-class="{'selected': selectedListCtrl.isSelected(2)}">Approx. Length</button>
	</div>
		<work-out-detail>
		</work-out-detail>
	</div>

	<!-- Hey, are you a developer too? You can check this project's code here: https://github.com/sarahcapecci/workOutApp  :) -->
  	<script src="js/angular-min.js"></script>
  	<script src="js/workouts.js"></script>
  	<script src="js/modules.js"></script>
  	<script src="js/controllers.js"></script>
  	<script src="js/directives.js"></script>
    </body>
</html>